
===================================================================
Protocol Hierarchy Statistics
Filter: 

eth                                      frames:632373 bytes:37636698
  batadv                                 frames:632373 bytes:37636698
    eth                                  frames:53955 bytes:6755830
      ipv6                               frames:22090 bytes:4311365
        icmpv6                           frames:16019 bytes:1871106
        udp                              frames:604 bytes:96598
          dhcpv6                         frames:382 bytes:66850
          ntp                            frames:218 bytes:29212
          dns                            frames:4 bytes:536
        tcp                              frames:5467 bytes:2343661
          http                           frames:6 bytes:1901
            data-text-lines              frames:2 bytes:899
              tcp.segments               frames:2 bytes:899
          _ws.malformed                  frames:2 bytes:899
      data                               frames:9962 bytes:737764
      arp                                frames:17692 bytes:1238718
      ip                                 frames:4211 bytes:467983
        igmp                             frames:2740 bytes:223066
          vssmonitoring                  frames:17 bytes:1496
        udp                              frames:1367 bytes:199167
          ntp                            frames:1199 bytes:141482
          bootp                          frames:111 bytes:41022
          dns                            frames:57 bytes:16663
        tcp                              frames:104 bytes:45750
          http                           frames:4 bytes:940
            data-text-lines              frames:2 bytes:556
          ssl                            frames:16 bytes:10764
            tcp.segments                 frames:4 bytes:3134
          _ws.malformed                  frames:4 bytes:3134
    data                                 frames:71191 bytes:4816899
      batadv                             frames:71187 bytes:4816659
        data                             frames:4016 bytes:373412
          batadv                         frames:4016 bytes:373412
            data                         frames:103 bytes:12380
              batadv                     frames:103 bytes:12380
                data                     frames:5 bytes:746
                  batadv                 frames:5 bytes:746
                    data                 frames:1 bytes:170
                      batadv             frames:1 bytes:170
===================================================================
